<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections> 
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <!--Why do we need to add the below mention section -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=D:\dotNET_CA\CourseRegistrationSystem\App_Data\aspnet-CourseRegistrationSystem-20150415050731.mdf;Initial Catalog=aspnet-CourseRegistrationSystem-20150415050731;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.serviceModel>

    <!--Configuring Bindings--> 
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp">
          <security mode="Message">
            <message clientCredentialType="UserName"
                     algorithmSuite="TripleDes"/>            
          </security>
        </binding>

        <binding name="wsHttp1">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <!-- Mex Behaviour -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
            <!--The below line will send the actuall reason of exception to the client -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--The below line is for Username and Password validation  -->
          <serviceCredentials>
            
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
            <userNameAuthentication
                 userNamePasswordValidationMode="Custom"
                 customUserNamePasswordValidatorType= "ConsoleHost.UserNameValidation,ConsoleHost"/>
            <clientCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust" revocationMode="NoCheck" />
            </clientCertificate>
          
          </serviceCredentials>
           
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      
      <!--AttendanceService  -->
      
      <service name="CourseRegistration.Service.AttendanceService"  behaviorConfiguration="mexBehaviour">
        <endpoint address="HelloService" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="CourseRegistration.Service.IAttendanceService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>

      <!--CourseRegistrationService -->
      
      <service name="CourseRegistration.Service.CourseRegistrationService" behaviorConfiguration="mexBehaviour" >
        <endpoint address="HelloService" binding="wsHttpBinding"   bindingConfiguration="wsHttp1" contract="CourseRegistration.Service.ICourseRegistrationService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  
  </system.serviceModel>
  
  
  
  <!--Configuring Entity Framework -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


</configuration>